.bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mobile-view {
  display: none;
}

.mobile-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-bar .item {
  margin-top: 10px;
}

.mobile-footer {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 990px) {
  .bar {
    display: none;
  }
  .mobile-view {
    display: block;
  }
}
