input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.sign {
  background-image: url('./3948480.jpg');
  background-size: contain;
}

.login-card {
  background-image: url('./2384134.jpg');
  background-size: cover;
}
